* {margin: 0; padding: 0;}

html, body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

@media screen and (max-width:750px){

    body{
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
    }
}

#container {
    height: 100%;
    width:100%;
    max-width: 2100px;
    margin: 0 auto;
    font-size:0;
    padding-top: 10px;
    background-image: url('../images/head2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "Helvetica Neue";
    src:url("../fonts/Helvetica-Neue.ttf");
}


@font-face {
    font-family: "Meta Bold";
    src:url("../fonts/Meta-Bold.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src:url("../fonts/Lato-Regular.ttf");
}

#header-title{
    font-family: Meta Bold;
    font-size: 60px;
    color:white;
    font-weight: bold;
    margin-left:30px;
}

.bold-text{
    font-family: Helvetica Neue;
    font-size: 40px;
    color:white;
    font-stretch: normal;
    font-style:normal;
    font-variant: normal;
    font-weight:900;
    line-height: 49.5px;
    text-shadow: rgb(0, 0, 0) 1px 1px 5px;
    text-transform: capitalize;
}


.thin-text{
    font-family: Lato Regular;
    font-size: 33px;
    color:white;
    font-stretch: normal;
    font-style:normal;
    font-variant: normal;
    line-height: 33.75px;
    text-shadow: rgb(0, 0, 0) 1px 1px 5px;
}

#center-panel{
    width:60%;
    height:300px;
    text-align: center;
    margin:0 auto;
    padding 10px;
    margin-top: 120px;
}

#submit{
    margin-top: 20px;
}

#txtEmail{
    margin-top: 20px;
    font-family: Meta Bold;
    padding: 13px;
    border: none;
    width:220px;
    height:20px;
    transition: border 0.3s;
}

#cmdSubscribe{
    background: #FFBC0B;
    color: #634100;
    border:none;
    padding: 12px;
    width:150px;
    height:46px;
    font-family: Meta Bold;
    /*border-radius: 2px;*/
    cursor: pointer;
}

#thanks{
    font-family: Lato Regular;
    margin-top: 100px;
    font-size: 20px;
    color:white;
    display: none;
}