* {margin: 0; padding: 0;}

html, body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

@media screen and (max-width:750px){

    body{
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
    }
}

#container {
    height: 100%;
    width:100%;
    max-width: 2100px;
    margin: 0 auto;
    font-size:0;
    padding-top: 10px;
    background-image: url('https://d2yn1supmf9w2o.cloudfront.net/head2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Roboto Bold;
    src: url('https://d2yn1supmf9w2o.cloudfront.net/Roboto-Bold.ttf');
}

@font-face {
    font-family: "Helvetica Neue";
    src:url("https://d2yn1supmf9w2o.cloudfront.net/Helvetica-Neue.ttf");
}


@font-face {
    font-family: "Meta Bold";
    src:url("https://d2yn1supmf9w2o.cloudfront.net/Meta-Bold.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src:url("https://d2yn1supmf9w2o.cloudfront.net/Lato-Regular.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src:url("https://d2yn1supmf9w2o.cloudfront.net/Roboto-Regular.ttf");
}

#header-title{
    font-family: Meta Bold;
    font-size: 60px;
    color:white;
    font-weight: bold;
    margin-left:10px;
}


.bold-text{
    font-family: Roboto Bold, Helvetica Neue;
    font-size: 35px;
    color:white;
    font-stretch: normal;
    font-style:normal;
    font-variant: normal;
    font-weight:700;
    line-height: 39.5px;
    text-shadow: rgb(0, 0, 0) 1px 1px 3px;
    text-transform: capitalize;
}


.thin-text{
    font-family: Roboto Regular, Lato Regular;
    font-size: 32px;
    color:white;
    font-stretch: normal;
    font-style:normal;
    font-variant: normal;
    line-height: 33.75px;
    text-shadow: rgb(0, 0, 0) 1px 1px 5px;
}

#center-panel{
    width:100%;
    height:300px;
    text-align: center;
    margin:0 auto;
    /*padding: 20%;*/
    margin-top: 5%;
}

#submit{
    margin-top: 20px;
}

#txtEmail{
    margin-top: 20px;
    font-family: Meta Bold;
    padding: 13px;
    border: none;
    width:220px;
    height:20px;
    transition: border 0.3s;
}

#cmdSubscribe{
    background: #FFBC0B;
    color: #634100;
    border:none;
    padding: 12px;
    width:150px;
    height:46px;
    font-family: Meta Bold;
    cursor: pointer;
}

#thanks{
    font-family: Meta Bold;
    margin-top: 100px;
    font-size: 20px;
    color:white;
    display: none;
    /*text-shadow: rgb(0, 0, 0) 1px 1px 3px;*/
    font-weight: bold;
}

.footer-text{
    font-family: Roboto Bold;
    font-size: 10px;
    color:white;
    font-stretch: normal;
    font-style:normal;
    font-variant: normal;
    line-height: 12px;
    opacity:0.5;
}

/*#footer{*/
/*    margin:0 auto;*/
    /*text-align: center;*/
/*    width: 50%;*/
/*    position: absolute;*/
    /*margin-left:300px;*/
/*    bottom: 0px;*/
/*}*/

#cmdShare{
    /*color:  #425F9C;*/
    cursor: pointer;
}

#cmdTweet{
    /*color: #0082B2;*/
    cursor: pointer;
}

#footer #links{
    font-size:13px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    color: white;
    font-family: Roboto Regular;
    list-style-type: none;
    /*opacity: 0.8;*/
}

#footer ul li {
    display: inline;
    margin-left: 10px;
}

#footer ul li a{
    text-decoration: none;
    color: #fff;
}

#footer{
    width: 100%;
    height:50px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

#footer div{
    font-size:13px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    color: white;
    font-family: Roboto Regular;
    opacity: 0.8;
    text-align: center;
}

#social-icons{
    position: absolute;
    right: 20px;
    bottom: 12px;
    color: white;
    font-family: Roboto Regular;
    list-style-type: none;
}

#social-icons li{
    margin-left: 10px;
    opacity: 0.6;
}

#social-icons li:hover{
    opacity: 1;
}
